annoy==1.17.0
cachetools==4.2.1
certifi==2020.12.5
click==7.1.2
fasteners==0.16
Flask==1.1.2
google-api-core==1.26.2
google-auth==1.28.0
google-cloud-vision==2.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
h5py==3.2.1
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
libcst==0.3.17
lz4==3.1.3
MarkupSafe==1.1.1
mypy-extensions==0.4.3
numpy==1.20.1
opencv-python==4.5.1.48
Pillow==8.1.2
proto-plus==1.18.1
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pymagnitude==0.1.143
PyYAML==5.4.1
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
threadpoolctl==2.1.0
torch==1.8.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Werkzeug==1.0.1
xxhash==2.0.0
